@font-face {
	font-family: oregano;
	src: url(../fonts/Oregano-Regular.ttf)
}
#seccionVideo{
	display: block;
	position: absolute;
	top: 15%;
	left: 50%;
	#tituloParqueMarino{
		color: #fff;
		font-family: oregano;
		letter-spacing: 3px;
	}
}