@font-face {
    font-family: Cantarell;
    src: url(../fonts/Cantarell.tff);
}

@mixin buttons {
  border: none;
  background: none;
  outline: none;
  color: white;
  &:active{
    color: gray;
  }
  height: 50px;
  width: 50px;
}

#seccionTexto{
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  box-sizing: border-box;
  padding-right: 3.5%;
  padding-left: 3.5%;
  padding-top: 7%;
  height: 100vh;
  margin-bottom: 0;
  vertical-align: center;
  p{
    color: #ffffff;
    font-family: Cantarell;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.8em;
    font-weight: lighter;
    vertical-align: center;
  }
}

#btnTexto{
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50px;
  left: 0;
  background: linear-gradient(135deg,
  rgba(0,0,0,0.5)10%,
  rgba(0,0,0,0.5)49%,
  rgba(255,255,255,0)50%
  );
  button{
    @include buttons;
  }
}

#btnTxtClose{
  height: 100px;
  width: 100px;
  position: absolute;
  right:0;
  bottom: 0;
  background: linear-gradient(135deg,
  rgba(255,255,255,0)49%,
  rgba(0,0,0,0.5)50%,
  rgba(0,0,0,0.5)10%
  );
  button{
    @include buttons;
    position: inherit;
    bottom: 0;
    right: 0;
  }
  display: none;
}
