html, body {
  overflow: hidden;
}

@font-face {
  font-family: oregano;
  src: url(../fonts/Oregano-Regular.ttf);
}

@font-face {
  font-family: cantarell;
  src: url(../fonts/Cantarell-Regular.ttf);
}

#idSeccionVideo {
  margin-top: 110px;
}

#seccionVideo {
  display: block;
}

#seccionVideo h2 {
  text-align: center;
  color: #fff;
  font-family: oregano;
  letter-spacing: 3px;
  font-size: 36px;
}

#seccionVideo h4 {
  text-align: center;
  color: #fff;
  font-family: oregano;
  letter-spacing: 3px;
  font-size: 30px;
}

#seccionVideo h5 {
  text-align: center;
  color: #fff;
  font-family: oregano;
  letter-spacing: 3px;
  font-size: 22px;
}

#seccionVideo .embedContainer {
  margin-top: 30px;
  margin-bottom: 60px;
}

#seccionVideo h3 {
  text-align: center;
  color: #fff;
  font-family: cantarell;
  letter-spacing: 1px;
}

#seccionVideo a {
  color: #fff;
  font-size: 20px;
}
