html, body {
  overflow: hidden;
}

@font-face {
  font-family: oregano;
  src: url(../fonts/Oregano-Regular.ttf);
}

@font-face {
  font-family: cantarell;
  src: url(../fonts/Cantarell-Regular.ttf);
}

#seccionVideo {
  display: block;
  margin-top: 80px;
}

#seccionVideo h2 {
  text-align: center;
  color: #fff;
  font-family: oregano;
  letter-spacing: 3px;
  font-size: 40px;
}

#seccionVideo iframe {
  margin-top: 3%;
  margin-bottom: 5%;
}

#seccionVideo h3 {
  text-align: center;
  color: #fff;
  font-family: cantarell;
  letter-spacing: 1px;
}
