@font-face {
  font-family: Cantarell;
  src: url(../fonts/Cantarell.tff);
}

#seccionTexto {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  box-sizing: border-box;
  padding-right: 3.5%;
  padding-left: 3.5%;
  padding-top: 7%;
  height: 100vh;
  margin-bottom: 0;
}

#seccionTexto p {
  color: #ffffff;
  font-family: Cantarell;
  text-align: center;
  font-size: 150%;
  font-weight: lighter;
}
